// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (c) 2025
 * 
 * Device: SoftBank Air 5 (IPQ8072A)
 * Hardware:
 *   - SoC: Qualcomm IPQ8072A (Quad-core Cortex-A53 @ 2.2GHz)
 *   - RAM: 512MB DDR3
 *   - Flash: W25R512NWEIQ 64MB SPI NOR (upgraded from 4MB)
 *   - Switch: QCA8075 (2x GbE LAN ports)
 *   - WLAN: QCN5024/QCN5054 (WiFi 6, ath11k)
 *   - 5G: Qualcomm SDX55 (X55) via PCIe
 */

/dts-v1/;

#include "ipq8074.dtsi"
#include "ipq8074-hk-cpu.dtsi"
#include "ipq8074-ess.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "SoftBank Air 5";
	compatible = "softbank,air5", "qcom,ipq8074";

	aliases {
		serial0 = &blsp1_uart5;
		led-boot = &led_system;
		led-failsafe = &led_system;
		led-running = &led_system;
		led-upgrade = &led_system;
		
		/* Ethernet aliases */
		ethernet0 = &dp1;
		ethernet1 = &dp2;
		label-mac-device = &dp1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x20000000>; /* 512MB */
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&led_pins>;
		pinctrl-names = "default";

		led_system: system {
			label = "green:system";
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&tlmm 16 GPIO_ACTIVE_LOW>;
			default-state = "keep";
		};

		wifi {
			label = "blue:wifi";
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WLAN;
			gpios = <&tlmm 3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "phy0tpt";
		};

		wwan_5g {
			label = "blue:5g";
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WAN;
			gpios = <&tlmm 18 GPIO_ACTIVE_LOW>;
		};

		wwan_4g_red {
			label = "red:4g";
			color = <LED_COLOR_ID_RED>;
			gpios = <&tlmm 42 GPIO_ACTIVE_LOW>;
		};

		wwan_4g_green {
			label = "green:4g";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&tlmm 43 GPIO_ACTIVE_LOW>;
		};

		sim_red {
			label = "red:sim";
			color = <LED_COLOR_ID_RED>;
			gpios = <&tlmm 11 GPIO_ACTIVE_LOW>;
		};

		sim_green {
			label = "green:sim";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&tlmm 14 GPIO_ACTIVE_LOW>;
		};

		rf1_blue {
			label = "blue:rf1";
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&tlmm 0 GPIO_ACTIVE_LOW>;
		};

		rf2_blue {
			label = "blue:rf2";
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&tlmm 19 GPIO_ACTIVE_LOW>;
		};

		rf3_blue {
			label = "blue:rf3";
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&tlmm 20 GPIO_ACTIVE_LOW>;
		};

		rf_red {
			label = "red:rf";
			color = <LED_COLOR_ID_RED>;
			gpios = <&tlmm 51 GPIO_ACTIVE_LOW>;
		};
	};

	keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&tlmm 25 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&tlmm 44 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};
};

&tlmm {
	mdio_pins: mdio-state {
		mdc-pins {
			pins = "gpio68";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};

		mdio-pins {
			pins = "gpio69";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	led_pins: led-state {
		pins = "gpio0", "gpio3", "gpio11", "gpio14", "gpio16",
		       "gpio18", "gpio19", "gpio20", "gpio42", "gpio43",
		       "gpio51";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	button_pins: button-state {
		pins = "gpio25", "gpio44";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	usb_mux_pins: usb-mux-state {
		pins = "gpio27";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
		output-high;
	};
};

&blsp1_uart5 {
	status = "okay";
};

&prng {
	status = "okay";
};

&cryptobam {
	status = "okay";
};

&crypto {
	status = "okay";
};

&qpic_bam {
	status = "okay";
};

&blsp1_spi1 {
	status = "okay";
	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	cs-gpios = <0>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "0:sbl1";
				reg = <0x000000 0x040000>;
				read-only;
			};

			partition@40000 {
				label = "0:mibib";
				reg = <0x040000 0x010000>;
				read-only;
			};

			partition@50000 {
				label = "0:bootconfig";
				reg = <0x050000 0x020000>;
				read-only;
			};

			partition@70000 {
				label = "0:bootconfig1";
				reg = <0x070000 0x020000>;
				read-only;
			};

			partition@90000 {
				label = "0:qsee";
				reg = <0x090000 0x080000>;
				read-only;
			};

			partition@110000 {
				label = "0:qsee_1";
				reg = <0x110000 0x080000>;
				read-only;
			};

			partition@190000 {
				label = "0:devcfg";
				reg = <0x190000 0x010000>;
				read-only;
			};

			partition@1a0000 {
				label = "0:devcfg_1";
				reg = <0x1a0000 0x010000>;
				read-only;
			};

			partition@1b0000 {
				label = "0:evcfg";
				reg = <0x1b0000 0x010000>;
				read-only;
			};

			partition@1c0000 {
				label = "0:rpm";
				reg = <0x1c0000 0x020000>;
				read-only;
			};

			partition@1e0000 {
				label = "0:cdt";
				reg = <0x1e0000 0x010000>;
				read-only;
			};

			partition@1f0000 {
				label = "0:appsblenv";
				reg = <0x1f0000 0x010000>;
			};

			partition@200000 {
				label = "0:appsbl";
				reg = <0x200000 0x0a0000>;
				read-only;
			};

			partition@2a0000 {
				label = "0:art";
				reg = <0x2a0000 0x040000>;
				read-only;
			};


			partition@2e0000 {
				label = "0:orgdata";
				reg = <0x2e0000 0x010000>;
				read-only;
			};

			partition@2f0000 {
				label = "0:crashdump";
				reg = <0x2f0000 0x110000>;
				read-only;
			};

			partition@400000 {
				label = "kernel";
				reg = <0x400000 0xc00000>;
			};

			partition@1000000 {
				label = "rootfs";
				reg = <0x1000000 0>;
			};
		};
	};
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
	reset-gpios = <&tlmm 37 GPIO_ACTIVE_LOW>;

	qca8075_0: ethernet-phy@8 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <8>;
	};

	qca8075_1: ethernet-phy@9 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <9>;
	};
};

&switch {
	status = "okay";

	switch_lan_bmp = <0x06>; /* LAN1=Port1, LAN2=Port2 */
	switch_wan_bmp = <0x00>; /* No dedicated WAN port */
	switch_mac_mode = <0x00>; /* MAC mode for UNIPHY0 */
	switch_mac_mode1 = <0xff>; /* Disabled */
	switch_mac_mode2 = <0xff>; /* Disabled */

	qcom,port_phyinfo {
		port@1 {
			port_id = <1>;
			phy_address = <8>;
		};

		port@2 {
			port_id = <2>;
			phy_address = <9>;
		};
	};
};

&edma {
	status = "okay";
};

&dp1 {
	status = "okay";
	phy-handle = <&qca8075_0>;
	label = "lan1";
	nvmem-cells = <&macaddr_art_0>;
	nvmem-cell-names = "mac-address";
};

&dp2 {
	status = "okay";
	phy-handle = <&qca8075_1>;
	label = "lan2";
	nvmem-cells = <&macaddr_art_6>;
	nvmem-cell-names = "mac-address";
};

/* WiFi*/
&wifi {
	status = "disabled";
};

/* USB 3.0 PHYs */
&ssphy_0 {
	status = "okay";
};

&qusb_phy_0 {
	status = "okay";
};

&ssphy_1 {
	status = "okay";
};

&qusb_phy_1 {
	status = "okay";
};

/* USB 3.0 Port 0 */
&usb_0 {
	status = "okay";
	pinctrl-0 = <&usb_mux_pins>;
	pinctrl-names = "default";
};

&dwc_0 {
	dr_mode = "host";
};

/* USB 3.0 Port 1 */
&usb_1 {
	status = "okay";
};

&dwc_1 {
	dr_mode = "host";
};
